# Игнорируем папки Docker volume и логи
db_data/
logs/
*.log

# Игнорируем файлы операционной системы
*.DS_Store
Thumbs.db

# Игнорируем контейнеры и временные файлы
.vscode/
.idea/
node_modules/

# Игнорируем файлы конфигурации с секретными данными
.env
